<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.springcloud.mapper.TDeptMapper" >
  <resultMap id="BaseResultMap" type="com.zj.springcloud.model.TDept" >
    <id column="DEPT_ID" property="deptId" jdbcType="BIGINT" />
    <result column="PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_dept
    where DEPT_ID = #{deptId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.springcloud.model.TDept" >
    <selectKey resultType="java.lang.Long" keyProperty="deptId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_dept (PARENT_ID, DEPT_NAME, ORDER_NUM, 
      CREATE_TIME, MODIFY_TIME)
    values (#{parentId,jdbcType=BIGINT}, #{deptName,jdbcType=VARCHAR}, #{orderNum,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zj.springcloud.model.TDept" >
    update t_dept
    set PARENT_ID = #{parentId,jdbcType=BIGINT},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      ORDER_NUM = #{orderNum,jdbcType=DOUBLE},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where DEPT_ID = #{deptId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select DEPT_ID, PARENT_ID, DEPT_NAME, ORDER_NUM, CREATE_TIME, MODIFY_TIME
    from t_dept
    where DEPT_ID = #{deptId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select DEPT_ID, PARENT_ID, DEPT_NAME, ORDER_NUM, CREATE_TIME, MODIFY_TIME
    from t_dept
  </select>
</mapper>