<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.springcloud.mapper.TResultCommitMapper" >
  <resultMap id="BaseResultMap" type="com.zj.springcloud.model.TResultCommit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="plotting_scale" property="plottingScale" jdbcType="VARCHAR" />
    <result column="new_figure" property="newFigure" jdbcType="VARCHAR" />
    <result column="old_figure" property="oldFigure" jdbcType="VARCHAR" />
    <result column="figure" property="figure" jdbcType="VARCHAR" />
    <result column="medium_type" property="mediumType" jdbcType="VARCHAR" />
    <result column="result_date" property="resultDate" jdbcType="DATE" />
    <result column="data_format" property="dataFormat" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="height_datum" property="heightDatum" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="ref_id" property="refId" jdbcType="BIGINT" />
    <result column="meridian" property="meridian" jdbcType="VARCHAR" />
    <result column="coordinate" property="coordinate" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_result_commit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.springcloud.model.TResultCommit" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_result_commit (plotting_scale, new_figure, old_figure, 
      figure, medium_type, result_date, 
      data_format, name, create_date, 
      height_datum, memo, ref_id, 
      meridian, coordinate)
    values (#{plottingScale,jdbcType=VARCHAR}, #{newFigure,jdbcType=VARCHAR}, #{oldFigure,jdbcType=VARCHAR}, 
      #{figure,jdbcType=VARCHAR}, #{mediumType,jdbcType=VARCHAR}, #{resultDate,jdbcType=DATE}, 
      #{dataFormat,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{heightDatum,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, #{refId,jdbcType=BIGINT}, 
      #{meridian,jdbcType=VARCHAR}, #{coordinate,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zj.springcloud.model.TResultCommit" >
    update t_result_commit
    set plotting_scale = #{plottingScale,jdbcType=VARCHAR},
      new_figure = #{newFigure,jdbcType=VARCHAR},
      old_figure = #{oldFigure,jdbcType=VARCHAR},
      figure = #{figure,jdbcType=VARCHAR},
      medium_type = #{mediumType,jdbcType=VARCHAR},
      result_date = #{resultDate,jdbcType=DATE},
      data_format = #{dataFormat,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      height_datum = #{heightDatum,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      ref_id = #{refId,jdbcType=BIGINT},
      meridian = #{meridian,jdbcType=VARCHAR},
      coordinate = #{coordinate,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, plotting_scale, new_figure, old_figure, figure, medium_type, result_date, 
    data_format, name, create_date, height_datum, memo, ref_id, meridian, coordinate
    from t_result_commit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, plotting_scale, new_figure, old_figure, figure, medium_type, result_date, 
    data_format, name, create_date, height_datum, memo, ref_id, meridian, coordinate
    from t_result_commit
  </select>
</mapper>