<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.springcloud.mapper.TResourceMapper" >
  <resultMap id="BaseResultMap" type="com.zj.springcloud.model.TResource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="BIGINT" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="ext_name" property="extName" jdbcType="VARCHAR" />
    <result column="ref_biz_type" property="refBizType" jdbcType="VARCHAR" />
    <result column="ref_biz_id" property="refBizId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="modify_time" property="modifyTime" jdbcType="DATE" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.springcloud.model.TResource" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_resource (name, size, path, 
      type, ext_name, ref_biz_type, 
      ref_biz_id, create_time, modify_time, 
      memo)
    values (#{name,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{path,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{extName,jdbcType=VARCHAR}, #{refBizType,jdbcType=VARCHAR}, 
      #{refBizId,jdbcType=BIGINT}, #{createTime,jdbcType=DATE}, #{modifyTime,jdbcType=DATE}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zj.springcloud.model.TResource" >
    update t_resource
    set name = #{name,jdbcType=VARCHAR},
      size = #{size,jdbcType=BIGINT},
      path = #{path,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      ext_name = #{extName,jdbcType=VARCHAR},
      ref_biz_type = #{refBizType,jdbcType=VARCHAR},
      ref_biz_id = #{refBizId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=DATE},
      modify_time = #{modifyTime,jdbcType=DATE},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, size, path, type, ext_name, ref_biz_type, ref_biz_id, create_time, 
    modify_time, memo
    from t_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, size, path, type, ext_name, ref_biz_type, ref_biz_id, create_time, 
    modify_time, memo
    from t_resource
  </select>
</mapper>