<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.springcloud.mapper.TRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zj.springcloud.model.TRole" >
    <id column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_role
    where ROLE_ID = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zj.springcloud.model.TRole" >
    <selectKey resultType="java.lang.Long" keyProperty="roleId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_role (ROLE_NAME, REMARK, CREATE_TIME, 
      MODIFY_TIME)
    values (#{roleName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zj.springcloud.model.TRole" >
    update t_role
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ROLE_ID = #{roleId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select ROLE_ID, ROLE_NAME, REMARK, CREATE_TIME, MODIFY_TIME
    from t_role
    where ROLE_ID = #{roleId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ROLE_ID, ROLE_NAME, REMARK, CREATE_TIME, MODIFY_TIME
    from t_role
  </select>
</mapper>